* {
    margin: 0;
    padding: 0;
}

a {	
	text-decoration: none;
}

.menu {
    width: 25%;
    position: relative;
}

.menu nav {
    position: fixed;
    width: 25%;
}

.menu .profile {
	width: 100%;
}

.menu nav img {
	margin: 5% 5% 5% 2%;
	border-radius: 50%;
}

.menu a:nth-child(2) {
	border-top: 2px solid #666;	
}

.menu a {
    border-bottom: 2px solid #666;
    color: #333;
    display: block;
    padding: 10px;
    text-align: center;
}

.menu a.active {
    background: #666;
    color: #fff;
}

.menu a:hover {
    background: #ccc;
	color: #000;
}

.content {
    width: 75%;
    float: right;
}

.content .contact {
	//font-size: 20px;
	text-align: right;
	margin: 10px 20px 10px 0px;
}

.content .contact .mobile {
	margin-right: 37px;
}

.content .contact .email span:nth-child(1) {
	padding-right: 15px;
	font-weight: bold;
}

.content .contact .mobile span:nth-child(1) {
	padding-right: 5px;
	font-weight: bold;
}

.permalink { 
	visibility: hidden; 
}

a:hover + .permalink {
	visibility: visible; 
	color: gray;
}

.content div.target {
    background: #f8f4f4;
	border-radius: 5px;
	margin-bottom: 10px;
}

.content div.target:nth-child(even) {
    background: #eee;
}

.content .title {
	text-align: center;
	padding: 10px 0px 10px 10px;
	//font-size: 30px;
	font-weight: bolder;
	border-bottom: 1px solid black;
}

.content .title a {
	color: black;
}

.content .sub-title {
	margin: 20px;
	//font-size: 20px;
	font-weight: bolder;
}

.content .sub-title span:nth-child(1) {
}

.content .sub-title span:nth-child(2) {
	font-weight: normal;
	//font-size: 16px;
}

.content .body {
	margin: 20px 45px;
	//font-size: 18px;
}

.body table {
	width: 90%;
	margin-left:auto;
	margin-right:auto;
}

.body table thead th {
	padding-right: 15%;
	padding-bottom: 5px;
}

.body table thead th:last-child {
	padding-right: 0px;
}

.body table tbody tr td {
	padding-right: 15%;
	text-align: center;
	//font-size: 16px;
}

.body table tbody tr td:last-child {
	padding-right: 0px;
}

.content .note {
	padding-bottom: 5px;
	//font-size: 15px;
}

.body .header {
	margin: 5px 0px;
}

.body .header span:nth-child(1) {
	font-weight: bold;
}

.body .header span:nth-child(2) {
	margin-left: 10px;
}

.footer {
	border-radius: 5px;
	clear: both;
	bottom: 0;
	width: 100%;
	height: 100px;
	background-color: #f8f7f3;
	text-align: center;
}

.footer .copyright {
	padding-top: 20px;
}

.footer .social-media {
	margin: 10px;
}

.footer .social-media a {
	margin: 3px;
}


/*For Small Screens */
@media screen and (max-width: 680px) {
	.content .contact .mobile {
		//margin-right: 57px;
	}
}
