* {
    margin: 0;
    padding: 0;
}

a {	
	text-decoration: none;
}

.menu {
    width: 25%;
    position: relative;
}

.menu nav {
    position: fixed;
    width: 25%;
}

.menu nav img {
	margin: 10px;
}

.menu a:nth-child(2) {
	border-top: 2px solid #666;	
}

.menu a {
    border-bottom: 2px solid #666;
    color: #333;
    display: block;
    padding: 10px;
    text-align: center;
}

.menu a.active {
    background: #666;
    color: #fff;
}

.menu a:hover {
    background: #ccc;
	color: #000;
}

.content {
    width: 75%;
    float: right;
}

.permalink { 
	visibility: hidden; 
}

a:hover + .permalink {
	visibility: visible; 
	color: gray;
}

.content div.target {
    background: #f8f4f4;
    height: 800px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.content div.target:nth-child(even) {
    background: #eee;
}

.content .title {
	text-align: center;
	padding: 10px 0px 10px 10px;
	font-size: 30px;
	font-weight: bolder;
	cursor: pointer;
	border: 1px solid black;
}

.content .title a {
	color: black;
}

.content .sub-title {
	padding-left: 20px;
	font-size: 20px;
	font-weight: bolder;
}

.content .body {
	margin: 20px;
	font-size: 18px;
}

.content .note {
	margin: 20px;
	font-size: 15px;
}

.footer {
	border-radius: 5px;
	clear: both;
	bottom: 0;
	width: 100%;
	height: 200px;
	background-color: #f8f7f3;
	text-align: center;
}
